<!-- project_file_delete_confirm.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}

<div class="row"><div class="col-md-8 col-md-offset-2 block-center">
    <p class="lead">
        <form method="post" action=".">{% csrf_token %}
            <p class="lead well">
                Are you sure you want to delete <strong>{{ object.file.name }}</strong> from {{ project }}?
            </p>
            <p class="text-center">
            <button type="submit" class="btn btn-md btn-danger">Yes, I want to permanently delete {{ object.file.name }} now!</button>
            <a href="{% url 'docview_prototype' project.pk %}" type="button" class="btn btn-md btn-link btn-color-flat static_a_display">Cancel</a>
            </p>
        </form>
    </p>
</div></div>


{% endblock content_container %}